html {
  font-family: Georgia;
  font-size: 5vw;
  text-align: center;
  background: #f0f0f0;
}
body {
  margin: 5vw;
  background: white;
  border-radius: 2vw;
  padding: 5vw;
}
header {
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
h1 {
  font-size: 1rem;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 15px;
  display: inline-block;
}
header p {
  font-size: 0.45rem;
  margin-left: 15vw;
  margin-right: 15vw;
}
section {
  margin: 50px;
}
h2 {
  font-size: 0.6rem;
}
h3 {
  font-size: 0.5rem;
}
fieldset {
  background: #f0f0f0;
  padding: 20px 40px 20px 40px;
  margin-left: 20vw auto;
  margin-right: 20vw auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 30px;
}
legend {
  font-size: 0.45rem;
  font-weight: 500;
}
label {
  margin: 20px;
  font-size: 0.45rem;
  font-weight: bold;
  display: block;
}
select {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  background: #f0f0f0;
}
textarea {
  font-size: 0.45rem;
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}
.password {
  font-weight: 100;
}
#password {
  padding: 5px;
  border-radius: 5px;
}
button {
  font-size: 0.45rem;
  background: #9EC5E6;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid gray;
  margin: 20px auto;
  display: block;
}
